/*clearfix для плавающих элементов*/
.clearfix:after {
  display: inline-block;
  content: "";
  clear: both;
}
/*Обортка для первой линии*/
body > div {
  margin: 16px auto;
  width: 909px;
  font-family: Arial, sans-serif;
}
/*Раздел с телефонами*/
body > div > header > div.tel {
  display: inline-block;
  font-size: 17px;
  letter-spacing: 0.9px;
  color: #5e696d;
  margin: 7px 0px 0px 5px;
  vertical-align: bottom;;
}
body > div > header > div.tel > p > img {
  vertical-align: middle;
}
/*Раздел авторизации/регистрации*/
body > div > header > div.avtorization {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #114266;
  box-shadow: 3px 3px 3px #b4b4b4;;
  margin: 2px 0px 0px 14px;
  vertical-align: top;
}
body > div > header > div.avtorization > div {
  display: inline-block;
}
body > div > header > div.avtorization > div > img {
  display: inherit;
  vertical-align: middle;
  margin: 3px;
}
body > div > header > div.avtorization > nav {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}
body > div > header > div.avtorization > nav > li {
  display: inherit;
  font-size: 12px;
}
body > div > header > div.avtorization > form {
  border: none;
  display: inline;
  vertical-align: baseline;
}
body > div > header > div.avtorization > form > input.login, .password {
  font-size: 12px;
  padding-left: 2px;
}
body > div > header > div.avtorization > nav > li > a {
  text-decoration: none;
  color: white;
  }
  /*Разделитель между входом и регистрацтей*/
body > div.wrapper > header > div.avtorization > nav > li:nth-child(1):after{
    content: " | ";
    color: white;
    font-size: 11px;
  }
  /*Подчеркивание "забыли пароль"*/
body > div.wrapper > header > div.avtorization > nav > li:nth-child(3) {
    text-decoration: underline;
    padding: 0px 9px 0 8px;
  }
body > div > header > div.mapsite {
  display: inline-block;
  margin: 0px 0px 0px 12px;
  box-shadow: 3px 3px 3px #b4b4b4;
  border-radius: 15px;
  padding: 3px 4px;
  border: 1px solid #b4b4b4;
  vertical-align: top;
}
body > div > header > div.mapsite > a {
  padding: 0px 3px;
}
/*Главное лого*/
body > div.wrapper > div.logo {
  margin-top: 10px;
}
/*Главное меню*/
body > div.wrapper > div.main_nav > nav {
  margin: 3px auto;
  /* width: 559px; */;
  position: relative;
}
body > div.wrapper > div.main_nav > nav > menu  {
  height: 30px;
  text-align: right;
  box-shadow: 0px 0px 5px #505860, inset 0px 5px 5px #797979;
  border-radius: 5px;
  background: linear-gradient(#2d3236 0% ,#000000 100%);
  padding: 2px 0px;
  line-height: 25px;
}
body > div.wrapper > div.main_nav > nav > menu > li {
  display: inline-block;
  line-height: 30px;
  width: auto;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
/*картинка корзтны*/
body > div > div.main_nav > nav > menu > div > a > img {
  border: none;
  position: relative;
  top: 4px;
}
body > div.wrapper > div.main_nav > nav > menu > li > a {
  display: inline-block;
  line-height: 25px;
  text-decoration: none;
  padding: 0px 11px 0px 11px;
  height: 25px;
  color: white;
  font-size: 14px;
}
body > div.wrapper > div.main_nav > nav > menu > li > a:hover {
  background: linear-gradient(#1f6787 0% ,#0c3357 100%);
  border-radius: 15px;
}
/*Корзина со стоимостью*/
body > div > div.main_nav > nav > menu > div {
  display: inline-block;
  padding: 0px 20px 0px 56px;
}
body > div > div.main_nav > nav > menu > div > a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
body > div > div.main_nav > nav > menu > div > a > span {
  color: #0d5a8f;
}
/*filter*/
/*filter_avto*/
body > div.wrapper > div.filter > section.filter_avto {
  display: inline-block;
  margin: 9px 0px 0px 4px;
  box-shadow: 3px 3px 3px #b4b4b4;
  border-radius: 15px;
  border: 1px solid #b4b4b4;
  vertical-align: top;
  width: 45.5%;
  height: 132px;
  overflow: auto;
}
/*filter_tire*/
body > div.wrapper > div.filter > section.filter_tire {
  display: inline-block;
  margin: 8px 0px 0px 9px;
  box-shadow: 3px 3px 3px #b4b4b4;
  border-radius: 15px;
  border: 1px solid #b4b4b4;
  vertical-align: top;
  width: 21%;
  height: 133px;
  overflow: auto;
}
/*filter_disk*/
body > div.wrapper > div.filter > section.filter_disk {
  display: inline-block;
  margin: 8px 0px 0px 6px;
  box-shadow: 3px 3px 3px #b4b4b4;
  border-radius: 15px;
  border: 1px solid #b4b4b4;
  vertical-align: top;
  width: 29%;
  height: 134px;
  overflow: auto;
}

/*body columns*/
/*Общие элементы меню*/
/*Общий элемент для правого и левого меню - иконка диска*/
body > div.wrapper > div.body > div > div > div > div > span::before {
  background-image: url(../pic/icon-disk.png);
  content: "";
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  display: inline-block;;
  padding: 0px 2px;
  vertical-align: middle;
  margin-top: -1px;
}
/*Общий элемент для правого и левого меню - иконка каталога*/
body > div.wrapper > div.body > div > div > div > span::before {
  background-image: url(../pic/icon-katalog.png);
  content: "";
  width: 20px;
  height: 21px;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0px 2px;
  vertical-align: middle;
  margin-top: 0px;;
}
/*Общий установки блока панелей слева-справа*/
body > div.wrapper > div.body > div > div {
  background-color: #edeef0;
  padding: 0px;
  color: #114165;
  font-size: 14px;
  font-weight: 500;
  width: 20%;
  margin: 22px 0px 0px 0px;
}
/*Общий блок обводки загаловков*/
body > div > div.body > div > div.left-menu > div > span,
body > div > div.body > div > div.right-menu > div > span {
  display: inline-block;
  padding: 2px 2px;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #b4b4b4;
  margin: 0px 0px 0px 0px;
  width: 97%;
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 1;
}
/*Общий блок обводки подзагаловков*/
body > div > div.body > div > div > div > div > span {
  display: inline-block;
  padding: 2px 2px;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
  margin: 0px 0px 0px 0px;
  width: 79%;
  margin-top: 0px;
  font-size: 13px;
  line-height: 1;
  margin-bottom: 0px;
}


/*left-column*/
body > div.wrapper > div.body > div > div.left-menu {
  float: left;
}
body > div.wrapper > div.body > div > div.left-menu > div > div > ul {
  padding-left: 55px;
}
body > div.wrapper > div.body > div > div.left-menu > div > div > ul > li {
  list-style: circle;
  line-height: 1.8;
}
body > div.wrapper > div.body > div > div.left-menu > div > div > ul > li > a:hover {
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
}
body > div.wrapper > div.body > div > div.left-menu > div > div > ul > li > a {
  text-decoration: none;
  color: #114165;
  font-size: 12px;
}

/*right-column*/
body > div.wrapper > div.body > div > div.right-menu {
  float: right;
}
body > div.wrapper > div.body > div > div.right-menu > div > div > label {
  display: block;
  font-size: 12px;
  padding: 4px 0px 0px 23px;
  line-height: 1.6;;
}
body > div.wrapper > div.body > div > div.right-menu > div > div.right-menu_subheader_disk {
padding-top: 8px;
}


body > div > div.body > div > div.right-menu > div > div.right-menu_subheader_tire > span,
body > div > div.body > div > div.right-menu > div > div.right-menu_subheader_disk > span {
  margin: 0px 0px 0px 16px;
  width: 71%;
}
.button-blue{
   text-decoration:none;
   text-align:center;
   padding:7px 13px;
   border:none;
   -webkit-border-radius:15px;
   -moz-border-radius:15px;
   border-radius: 15px;
   font:11px Arial, Helvetica, sans-serif;
   color:#ffffff;
   background-color:#1f6887;
   background-image: -moz-linear-gradient(top, #1f6887 0%, #0d365a 100%);
   background-image: -webkit-linear-gradient(top, #1f6887 0%, #0d365a 100%);
   background-image: -o-linear-gradient(top, #1f6887 0%, #0d365a 100%);
   background-image: -ms-linear-gradient(top, #1f6887 0% ,#0d365a 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d365a', endColorstr='#0d365a',GradientType=0 );
   background-image: linear-gradient(#1f6887 0% ,#0d365a 100%);
   -moz-box-shadow: 2px 2px 4px #bababa,  inset 0px 0px 3px #ffffff;
   box-shadow:2px 2px 4px #bababa, inset 0px 0px 3px #ffffff;
   margin:15px 24px;
  }

/*center-colon*/
body > div.wrapper > div.body > div > div.content {
  min-width:58%;
  font-family: Tahoma;
  background: linear-gradient(#e4e7e8 0% ,#93a7b0 100%);
  color: #000;
  max-width:58%;
  margin:17px 0px 0px 11px;
  display:-webkit-inline-box;
  border-radius: 3px;
  overflow:hidden;
  font-size:14px;
  padding:0px 0px 25px 0px;
  text-align:center;
  vertical-align:middle;
}
body > div > div.body > div > div.content > div.row {
  display: inherit;
  padding: 14px 0px 12px 0px;
}
body > div.wrapper > div.body > div > div.content > div > div {
  padding: 0px 21px 0px 12px;
  text-align: center;
}
body > div.wrapper > div.body > div > div.content > div > div > h2 {
  color: #206988;
  font-size: large;;
}
body > div.wrapper > div.body > div > div.content > div > div > h3 {
  font-size: 13px;;
}
/*Белое окаймление товаров для рисунка*/
body > div.wrapper > div.body > div > div.content > div.row > div > div {
  background: #fff 100%;
  width: 135px;
  height: 127px;
  display: inline-block;
  border-radius: 10px;
}
/*Картиинка*/
body > div.wrapper > div.body > div > div.content > div > div > div > img {
  height: 94%;
  padding-top: 4px;;
}
/*Цена*/
body > div.wrapper > div.body > div > div.content > div.row > div > p {
  color: #114165;
  font-size: 15px;
  font-style: italic;
  font-weight: 900;
  padding-top: 3px;
  line-height: 1;;
}

/*footer*/
body > div > footer > img {
  display: inherit;
  margin: 35px 24px 25px 116px;

}
body > div.wrapper > footer > div.bottom_menu {
  margin: 0 auto;

}
body > div.wrapper > footer > div.bottom_menu > nav {
  height: 100px;
  text-align: center;
  background: #213a4d;
  box-shadow: 2px 2px 5px #505860;
  padding-top: 10px;
  }
body > div > footer > div.bottom_menu > nav > li {
  text-align: center;
  display: inline;
}
body > div.wrapper > footer > div.bottom_menu > nav > li > a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 0px 0px;
}
body > div > footer > div > nav > li:nth-child(1) > a::after ,
body > div > footer > div > nav > li:nth-child(2) > a::after ,
body > div > footer > div > nav > li:nth-child(3) > a::after {
    content: "|";
    padding: 0px  10px;
    color: white;
    font-size: 14px;
  }
  body > div.wrapper > footer > div.bottom_menu > nav > li > a:hover {
    color: #448ca8;
  }
body > div > footer > div > nav > div {
  padding: 14px;
  color: #554047;
  font-size: 10px;
}
