    * {
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-family: HelveticaNeue;
      color: white;
    }
    /*задаем фоновое изображение для тела*/

    body {
      background: url("../pic/background.png");
      background-repeat: no-repeat;
      background-position: top;
      height: 1028px;
    }
    /*пришиваем шрифт*/

    @font-face {
      font-family: HelveticaNeue;
      src: url(../fonts/HelveticaNeueCyr-Light.otf);
    }
    /*менюшка и навигация*/

    nav {
      position: relative;
      width: 1215px;
      margin: 0 auto;
    }
    menu.site-navigation {
      line-height: 35px;
      text-align: right;
      height: 35px;
      background: #074e8c;
      /* Фон для списка в виде линейного градиента */
      list-style: none;
      /* Стиль маркированного списка без маркеров */
    }
    menu.site-navigation li {
      display: inline-block;
      line-height: 35px;
      width: auto;
      text-align: center;
      padding-right: 15px;
    }
    a.last_main {
      border-right: 1px solid white;
    }
    img.flag {
      position: relative;
      top: 5px;
      padding-right: 20px;
      border: none;
      /*помогло решить проблему с прыгаюшей менюхой при наведении*/
    }
    menu.site-navigation li a {
      display: inline-block;
      line-height: 35px;
      text-decoration: none;
      padding: 0 15px;
      height: 35px;
    }
    menu.site-navigation li a:hover {
      background: #4eabda;
    }
    .underline {
      text-decoration: underline;
    }
    /*форма над затененным прямоугольником*/

    div.overlap {
      position: absolute;
      float: left;
      margin: 0 auto;
      left: 30%;
      right: 30%;
      top: 15%;
      width: 500px;
      height: 630px;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
    }
    /*голова формы*/

    .olhead {
      margin: 25px;
    }
    .facebook {
      margin: 15px;
    }
    /*тело формы*/

    .olbody {
      padding: 15px;
    }
    .middle {
      display: inline;
      margin: 0 auto;
      width: 125px;
    }
    /*попытка при помощи псевдоэлементов впихнуть OU в полосу разделения*/

    h3:before, h3:after {
      content: "";
      margin: 2px;
      position: relative;
      display: inline-block;
      width: 20%;
      height: 1px;
      vertical-align: middle;
      border-bottom: 1px solid rgb(169, 169, 169);
      box-shadow: 0px 1px 4px 0px #000;
    }
    /*редактирование стиля самого OU*/

    span.ou {
      font-size: 14px;
      color: darkgrey;
    }
    /*редактирование оформления форм для ввода*/

    input.textform {
      padding: 12px;
      height: 10px;
      text-align: left;
      background-color: black;
      margin: 2%;
    }
    /*ноги формы*/

    input.textform {}
    /*свечение при фокусировке*/

    input.textform:focus {
      background-color: rgba(0, 60, 189, 0.5);
      box-shadow: 0px 0px 10px 3px rgba(0, 60, 189, 0.5);
    }
    label.spam {
      display: block;
    }
    .spam {
      font-size: 14px;
      margin: 12px;
    }
    .button-blue {
      margin: 15px;
      text-align: center;
      width: 150px;
      height: 35px;
      background: -webkit-gradient(linear, left top, left bottom, from(#50AEDB), to(#2E7AC4));
      border: none;
    }
    .button-blue:hover {
      background: #81a8cb;
      background: -webkit-gradient(linear, left top, left bottom, from(#2E7AC4), to(#50AEDB));
    }
    .button-blue:active {
      background: #0F5AA2;
    }
    /*ноги формы*/

    .olfooter {
      /*margin: 20px;*/
      font-size: 12px;
      line-height: 2;
    }
